@media screen and (max-width: 1399px) {
.suppor-background-img{
	margin: -8rem 0 0 28rem!important;
}
}
@media screen and (max-width: 1199px) {
 .container{

max-width: 1110px!important;
}
.testimonial-img-2{
	margin-left: -10rem!important;
}
.testimonial-img-5{
 margin-left: 10rem!important;
}
.about-img{
	width: 430px!important;
}
.footer-logo{
	margin-left: 6rem;
}
.about-design-img{
  margin-top: -25rem!important;
  width: 350px!important;

}
.footer{

 padding-top: 7rem!important;
 padding-bottom: 2rem!important;

}
.suppor-background-img{
	margin: -8rem 0 0 26rem!important;
}
}
@media screen and (max-width: 1045px) {
.suppor-background-img{
	margin: -8rem 0 0 24rem!important;
}
.main-banner-svg{
	width: 420px!important;
}
.footer{
	margin-top: -8rem!important;
}
}
@media screen and (max-width: 991px) {
.suppor-background-img{
	margin: -8rem 0 0 22rem!important;
}
.about-img{
	width: 370px!important;
}
.nav-ul{
	padding-left: 0!important;
}
.footer{
 padding-top: 8rem!important;
 padding-bottom: 0rem!important;
  margin-left: -6rem!important;
}
}
@media screen and (max-width: 885px) {
.suppor-background-img{
	margin: -8rem 0 0 18rem!important;
}
.main-banner-svg{
	width: 380px!important;
}

}
@media screen and (max-width: 790px) {
.suppor-background-img{
	margin: -8rem 0 0 16rem!important;
}
.main-banner-svg{
	width: 360px!important;
}

}
@media screen and (max-width: 767px) {
	.suppor-background-img{
	margin: -8rem 0 0 20rem!important;
}
.about-img-column{
	margin: auto!important;
	text-align: center!important;
}
.about-img{
	width: 400px!important;
}
.main-banner-svg{
		margin-top: -12rem!important;
	width: 400px!important;
}
.about-design-img{
  margin-top: -15rem!important;
  width: 250px!important;

}
.about-text-column{
	text-align: center;
}
.service-card-column{
	margin-top: 7rem;
}
.service-text-column{
	text-align: center;
}
.testimonial-img-2{
	margin-left: 0rem!important;
}
.testimonial-img-5{
 margin-left: 0rem!important;
}
.stack-card{
	margin-left: -3rem;
}
.footer{
 padding-top: 8rem!important;
 padding-bottom: 0rem!important;
  margin-left: -6rem!important;
}
.footer-logo{
	margin-bottom: 2rem;
}
.footer-icon-row{
	float: none!important;
	margin: auto!important;
	margin-top: 2rem!important;
	padding-left: 22rem!important;
}
.footer-bottom-p{
	margin-left: 6rem;
}
}
@media screen and (max-width: 718px) {
	.suppor-background-img{
	margin: -8rem 0 0 16rem!important;
}
.main-banner-svg{
	width: 350px!important;
}

}
@media screen and (max-width: 688px) {
	.suppor-background-img{
	margin: -8rem 0 0 15rem!important;
}
.stack-card{
	margin-left: -4rem;
}
.footer-icon-row{
	
	padding-left: 20rem!important;
}
.footer{
	margin-top: -12rem!important;
}
}
@media screen and (max-width: 625px) {
	.suppor-background-img{
	margin: -8rem 0 0 13rem!important;
}
.main-banner-svg{
	width: 320px!important;
}
.stack-card{
	margin-left: -4.5rem;
}
.footer-icon-row{
	
	padding-left: 18rem!important;
}

}
@media screen and (max-width: 575px) {
	.suppor-background-img{
	display: none;
}
	.testimonial-img1-column,.testimonial-img2-column{
		opacity: 0!important;
	}
	.stack-card{
	margin-left: -5rem;
}
.main-banner-svg{
	margin-top: -5rem!important;
	width: 400px!important;
margin-left: 4rem!important;
}
.service-card-column{
	margin-top: 2rem;
}
.support-text-column{
	text-align: center;
}
.footer{
	margin-left: -24rem!important;
}
.footer-logo,.footer-nav-column{
	margin-left: 24rem!important;
}
.footer-icon-row{
	
	padding-left: 34rem!important;
}
.footer-bottom-p{
	margin-left: 24rem;
}
}
@media screen and (max-width: 500px) {
.main-banner-svg{

	width: 400px!important;
margin-left: 2rem!important;
}
.footer-icon-row{
	
	padding-left: 32rem!important;
}

}
@media screen and (max-width: 460px) {
.main-banner-svg{
	width: 400px!important;
margin-left: 0rem!important;
}

}
@media screen and (max-width: 440px) {
	.stack-card{
	margin-left: -6.4rem;
}
.footer-icon-row{
	
	padding-left: 30rem!important;
}
.testimonial-text{
	margin-top: 2rem;
}
.about-img{
	margin-left: -1rem;
	width: 350px!important;
}
}
@media screen and (max-width: 416px) {
.main-banner-svg{
	width: 350px!important;
margin-left: 1rem!important;
}

}
@media screen and (max-width: 380px) {
	.stack-card{
	margin-left: -7.4rem;
}
.footer-icon-row{
	
	padding-left: 28rem!important;
}
.main-banner-svg{
	width: 340px!important;
margin-left: 0rem!important;
}
}
@media screen and (max-width: 355px) {
.about-img{
	margin-left: -1rem;
	width: 300px!important;
}
.main-banner-svg{
	width: 300px!important;
}
}

@media screen and (max-width: 328px) {
	.stack-card{
		width: 300px;
	margin-left: -7rem;
}
.footer-icon-row{
	
	padding-left: 26.6rem!important;
}
.main-banner-svg{
	width: 260px!important;
}
.about-img{
	margin-left: -1rem;
	width: 270px!important;
}
}