.nav-contact-btn{
  background: #fff;
  border-radius: 50px;
   color: #6425dd;
   font-weight: bold;
    padding:10px 20px 10px 20px;
}
.about-btn{

  border-radius: 50px;
   background: #ffc727;
   font-weight: bold;
    padding:10px 20px 10px 20px;
}
.contact-form-btn{
border: none;
  border-radius: 50px;
   background: #ffc727;
   color:#000000;
   font-weight: bold;
    padding:10px 50px 10px 50px;
}
.abc {
background: linear-gradient(90deg, #7462fa 8px, transparent 1%) center, linear-gradient(#7462fa 8px, transparent 1%) center, #aaa;
  background-size: 12px 12px;
   
  height: 5em;
  width: 3em;
position: absolute;
left: 0;
}


.main-banner {
  background-image: url('../images/main-banner.jpg');
   background-position: center;
   background-size: cover;


}
.main-banner-img {
  fill: url(#image);
  background-size: cover;
}
.service-pg {
  background-image: url('../images/service-background.png'); 
  background-position: center;
  background-size: cover;
  }
  .service-card{
    background:#fff;padding: 40px 20px; box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.02); border-radius: 5px;
  }


.testimonial-row {

  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center;
 
}
.contact-form-div {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 1px 40px rgba(116, 98, 250,0.15),
    /* The second layer */
    0 25px 0 -10px #ffff,
    /* The second layer shadow */
    0 25px 40px -10px rgba(116, 98, 250,0.15),
    
    0 50px 0 -25px #fff,
   
    0 50px 40px -25px rgba(116, 98, 250,0.15);
    /* Padding for demo purposes */
    padding: 30px;
border-radius: 15px;
}
.footer{
  background-image: url("../images/fotter-background-img.png");
  background-position: left;
  background-size:cover;
  margin-left: -2rem;
}
.footer-a{
  color: #fff;
  text-decoration: none;
}

.footer-a:hover{
  color: #fff;
  text-decoration: none;
}
.support-design-img{
  position:absolute; left: 0;width: 130px;margin-top: -5rem;z-index: -1;
}
.testimonial-img-2{
  margin-left: -15rem;
}
.testimonial-img-5{
  margin-left: 20rem;
  width:80px;
}

.nav-ul{
  padding-left: 5rem;
}
.about-design-img{
  position:absolute;
  right: 0;
  width: 400px;
  margin-top: -30rem;
  z-index: -1;
}

[card-stack] {
  will-change: transform;
  position: relative;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

[name=card-set] {
  display: none;
}
[name=card-set]:checked + [card] {
  display: flex;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0) scale(1);
  transition: transform 1s, opacity 1s, filter 0.25s;
  transition-delay: 0.3s;
  z-index: 0;
}
[name=card-set]:checked + [card] ~ [card] {
  z-index: -1;
  display: flex;
  opacity: 0.9;
  filter: blur(1px);
  transform: translateY(1.2rem) scale(0.95);
  transition: transform 1.5s, opacity 1.5s, filter 0.5s;
  transition-delay: 0.4s;
}
[name=card-set]:checked + [card] ~ [card] ~ [card] {
  z-index: -2;
  display: flex;
  opacity: 0.7;
  filter: blur(2px);
  transform: translateY(2.4rem) scale(0.9);
  transition: transform 2s, opacity 2s, filter 1.5s;
  transition-delay: 0.5s;
}
[name=card-set]:checked + [card] ~ [card] ~ [card] ~ [card] {
  z-index: -3;
  display: flex;
  opacity: 0.5;
  filter: blur(3px);
  transform: translateY(3.6rem) scale(0.85);
  transition: transform 2.5s, opacity 2.5s, filter 2s;
  transition-delay: 0.7s;
}
[name=card-set]:checked + [card] ~ [card] ~ [card] ~ [card] ~ [card] {
  z-index: -4;
  display: flex;
  opacity: 0;
  filter: blur(4px);
  transform: translateY(5rem) scale(0.8);
  transition: transform 3s, opacity 3s, filter 2.5s;
  transition-delay: 0.8s;
}

[card] {
  display: flex;
  will-change: filter opacity transform;
  position: absolute;
  top: 0;
  /*width: 100%;*/
  background-color: white;
  opacity: 0;
  transform: translateY(0) translateX(calc(-100% - 1rem)) scale(1);
  transition: transform 0.5s, opacity 0.2s 0.3s, filter 0.1s;
  transition-timing-function: ease-in;
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /*min-height: 0vh;*/
}
[card]::before {
  content: "";
  display: block;
  padding-bottom: 130%;
}
[card] .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}
[card] label {
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: #ffc727;
  border-radius: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}






















